<div ng-controller="CountryCtrl" ng-init=getCountries()>
    <ul class="list-unstyled">
        <li class="well" ng-repeat="country in countries">
            <h4>{{country.name}}</h4>
            <p>Capital: <i><b>{{country.capital}}</b></i></p>
            <a href="#/countries/{{country.alpha2Code}}" class="btn btn-primary">Show Details</a>
        </li>
    </ul>
</div>