<div ng-controller="CountryCtrl" ng-init=countryDetail()>
    <h2>{{currentCountry.name}}</h2>
    <table class="table-striped">
        <tr ng-repeat="(key, value) in currentCountry">
            <td> {{key}} </td>
            <td> {{ value }} </td>
        </tr>
    </table>
</div>
